/** Initial Setup **/

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** Css Code **/

/* Main Wrapper */
#root {
  min-width: 360px;
}

/* --- Utils and shared styles ---  */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.img-fluid {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.card__img {
  height: 330px;
  width: 100%;
}

.bg-orange {
  background-color: #d64c31;
}

.bg-dark {
  background-color: #4a455c;
}

.bg-light-gray {
  background-color: #7c7d98;
}

.bg-beige {
  background-color: #fff0e7;
}

.bg-white {
  background-color: #ffffff;
}

.img-wrapper {
  width: 100%;
  overflow-y: hidden;
}

.section-heading {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 52px;
  margin: 0 0 30px 0;
  align-self: center;
  color: #4a455c;
  font-weight: 500;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 72px;
    margin-bottom: 42px;
    align-self: center;
  }
}

@media (min-width: 1280px) {
  .section-heading {
    align-self: flex-start;
  }
}

@media (min-width: 1440px) {
  .section-heading {
    font-size: 112px;
  }
}

@media (min-width: 1620px) {
  .cards-wrapper {
    align-self: center;
  }

  .section-heading {
    margin: 0 0 42px calc(50% - 710px);
  }
}
/* --- Utils and shared styles ---  */

/* --- Buttons styles --- */
.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  border: none;
  width: auto;
  cursor: pointer;
  padding: 20px;
  font-size: 18px;
  border: 1px solid transparent;
}

.btn:focus {
  outline: none;
}

.btn.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.btn.rounded {
  border-radius: 4px;
}

.btn-light-orange {
  color: #000000;
  background-color: #ffceb0;
}

.btn-orange,
.btn-light-orange:hover,
.btn-white:hover {
  border-color: transparent;
  color: #ffffff;
  background-color: #d64c31;
}

.btn-white,
.btn-orange:hover {
  color: #4a455c;
  background-color: #ffffff;
  border-color: #d64c31;
}

@media (min-width: 600px) {
  .btn {
    font-size: 22px;
  }
}
/* --- Buttons styles --- */

/* --- Navbar styles --- */
.nav-bar {
  padding: 26px;
}

.nav-bar .logo {
  max-width: 220px;
}

.header .logo {
  align-self: center;
}

.nav-bar ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 24px 0 0;
}

.nav-bar a {
  text-decoration: none;
  color: #4a455c;
}

.nav-bar p,
.nav-bar h3 {
  margin: 0;
  color: #ffffff;
}

.nav-bar h3 {
  font-size: 24px;
  margin: 18px 0 12px;
}

.nav-bar p {
  line-height: 1.7;
  font-size: 14px;
}

/* Navbar in footer */
.footer .nav-bar a {
  color: #ffffff;
}

.nav-bar .copyright {
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  margin-top: 24px;
  align-self: center;
}

@media (min-width: 600px) {
  .nav-bar {
    padding: 26px 56px;
  }

  .nav-bar ul {
    justify-content: flex-start;
  }

  .header .nav-bar {
    flex-direction: row;
    align-items: center;
  }

  .header .nav-bar ul {
    margin: 0 0 0 68px;
  }

  .nav-bar ul li:not(:last-child) {
    margin-right: 26px;
  }

  .nav-bar .copyright {
    align-self: flex-start;
  }
}

@media (min-width: 1024px) {
  .footer .nav-bar {
    max-width: 610px;
    padding: 56px;
  }

  .nav-bar .logo {
    max-width: 100%;
  }

  .nav-bar h3 {
    font-size: 30px;
  }

  .nav-bar p,
  .nav-bar .copyright {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .header .nav-bar,
  .footer .nav-bar {
    padding: 56px 90px 30px;
  }

  .nav-bar ul a {
    font-size: 24px;
  }
}

@media (min-width: 1620px) {
  .header .nav-bar {
    width: auto;
  }

  .footer .nav-bar,
  .header .nav-bar {
    padding-left: 0;
    margin-left: calc(50% - 700px);
  }
}
/* --- Navbar styles --- */

/* --- Cards styles --- */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-width: 330px;
  max-width: 440px;
}

.card .card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  margin-top: -2px;
  padding: 50px 34px;
}

.card .img-fluid {
  object-fit: cover;
}

.card .card__info > *:not(:last-child) {
  margin-bottom: 24px;
}

.card h3,
.card p {
  margin: 0;
}

.card h3 {
  font-size: 34px;
}

.card p,
.card span {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
}

/* Card dark */
.card.bg-dark p,
.card.bg-dark span,
.card.bg-dark h3 {
  color: #ffffff;
}

.card.bg-dark h3 {
  font-weight: 500;
}

.card.bg-dark .card__info {
  background-color: #4a455c;
}

/* Card white  */
.card.bg-white h3 {
  color: #d64c31;
}

.card.bg-white p,
.card.bg-white span {
  color: #4a455c;
}

.card.bg-white .card__info {
  background-color: #ffffff;
}

@media (min-width: 1440px) {
  .card h3 {
    font-size: 46px;
  }
}

/* --- Cards styles --- */

/* --- Banner styles --- */
.banner .img-wrapper {
  max-height: 640px;
}

.banner__heading {
  color: #ffffff;
  background-color: #d64c31;
  padding: 26px;
  width: 100%;
  margin-top: -6px;
  align-self: flex-end;
  max-width: 1114px;
}

.banner__heading h1 {
  font-family: "Cormorant Garamond", sans-serif;
  margin: 0 0 8px;
  font-size: 42px;
  font-weight: 500;
}

.banner__heading p {
  margin: 0;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  max-width: 840px;
}

@media (min-width: 600px) {
  .banner__heading {
    padding: 26px 56px;
  }

  .banner__heading h1 {
    font-size: 72px;
  }

  .banner__heading p {
    font-size: 16px;
  }
}

@media (min-width: 1114px) {
  .banner__heading {
    margin-top: -200px;
  }

  .banner__heading {
    padding: 64px 96px;
  }

  .banner__heading h1 {
    font-size: 112px;
  }

  .banner__heading p {
    font-size: 18px;
  }
}

@media (min-width: 1420px) {
  .banner__heading {
    margin-top: -100px;
  }
}
/* --- Banner styles --- */

/* --- Blog section styles --- */
.blog {
  padding: 56px 26px;
}

.blog .wrapper {
  align-items: center;
}

.blog .cards-wrapper {
  max-width: 928px;
  margin-bottom: 30px;
}

.blog .card.large {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .blog {
    padding: 56px;
  }

  .blog .card {
    min-width: auto;
    max-width: calc(50% - 25px);
  }

  .blog .cards-wrapper {
    margin-bottom: 50px;
  }

  .blog .card:first-child {
    margin-right: 50px;
  }

  .blog .card.large {
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .blog {
    padding: 56px 88px;
    margin-top: 90px;
  }

  .blog .wrapper {
    flex-direction: row;
    align-items: flex-start;
    width: auto;
  }

  .blog .cards-wrapper {
    margin-bottom: 0;
  }
}

@media (min-width: 1620px) {
  .blog .wrapper {
    align-self: center;
  }
}
/* --- Blog section styles --- */

/* --- About Us styles --- */
.about-us {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 440px;
  min-height: 734px;
}

.about__info {
  padding: 42px;
  color: #ffffff;
}

.about-us h3 {
  margin: 0 0 30px 0;
  font-size: 34px;
  font-weight: 500;
}

.about-us p {
  margin: 0;
  font-size: 20px;
  line-height: 1.7;
}

@media (min-width: 1200px) {
  .about-us {
    margin-left: 50px;
  }
}

@media (min-width: 1440px) {
  .about-us h3 {
    font-size: 46px;
  }
}
/* --- About us styles --- */

/* --- Related Post section --- */
.related-post {
  padding: 56px 26px;
}

.related-post .card {
  max-width: 440px;
}

.related-post .cards-wrapper {
  flex-direction: column;
  max-width: 1420px;
}

.related-post .card:nth-child(2) {
  margin: 50px 0;
}

@media (min-width: 768px) {
  .related-post {
    padding: 56px;
    margin-top: 116px;
  }
}

@media (min-width: 1024px) {
  .related-post .cards-wrapper {
    flex-direction: row;
  }

  .related-post .card:nth-child(2) {
    margin-left: 50px;
  }

  .related-post .card:nth-child(3) {
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .related-post {
    padding: 56px 88px 118px;
  }

  .related-post .section-heading {
    align-self: center;
  }
}

@media (min-width: 1280px) {
  .related-post .cards-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .related-post .card:nth-child(3),
  .related-post .card:nth-child(1) {
    margin: 0;
  }

  .related-post .card:nth-child(2) {
    margin: 0 50px;
  }

  .related-post .section-heading {
    align-self: flex-start;
  }
}

@media (min-width: 1572px) {
  .related-post .section-heading {
    align-self: flex-start;
  }
}
/* --- Related Post section --- */

/* --- Footer --- */
.join-mailing-list {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 26px;
}

.join-mailing-list h3,
.join-mailing-list p {
  margin: 0;
}

.join-mailing-list p {
  line-height: 1.7;
  margin: 16px 0 26px 0;
  max-width: 616px;
}

.join-mailing-list h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 16px;
}

.join-mailing-list button {
  padding: 16px 22px;
  margin: 16px 0 0;
}

.join-mailing-list input {
  height: 62px;
  text-indent: 22px;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  max-width: 616px;
}

.join-mailing-list .social-networks {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

.join-mailing-list .social-networks li:not(:last-child) {
  margin-right: 32px;
}

.join-mailing-list .social-networks a {
  color: #ffffff;
  font-size: 35px;
}

@media (min-width: 600px) {
  .join-mailing-list {
    padding: 56px;
  }
}

@media (min-width: 1140px) {
  .join-mailing-list {
    max-width: 552px;
    position: absolute;
    bottom: 0;
    right: 56px;
    padding: 100px 72px 18px;
  }

  .join-mailing-list h3 {
    font-size: 30px;
  }
}

@media (min-width: 1440px) {
  .join-mailing-list {
    right: 88px;
  }
}

@media (min-width: 1620px) {
  .join-mailing-list {
    right: calc(50% - 700px);
  }
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
  }
}
/* --- Footer --- */
