.join-mailing-list {
  color: var(--white);
  font-family: var(--ff-montserrat);
  padding: 26px;
}

.join-mailing-list h3,
.join-mailing-list p {
  margin: 0;
}

.join-mailing-list p {
  line-height: 1.7;
  margin: 16px 0 26px 0;
  max-width: 616px;
}

.join-mailing-list h3 {
  font-size: 22px;
  font-weight: var(--fw-medium);
  margin: 0 0 16px;
}

.join-mailing-list button {
  padding: 16px 22px;
  margin: 16px 0 0;
}

.join-mailing-list input {
  height: 62px;
  text-indent: 22px;
  font-family: var(--ff-montserrat);
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 18px;
  max-width: 616px;
}

.join-mailing-list .social-networks {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

.join-mailing-list .social-networks li:not(:last-child) {
  margin-right: 32px;
}

.join-mailing-list .social-networks a {
  color: var(--white);
  font-size: 35px;
}

@media screen and (min-width: 600px) {
  .join-mailing-list {
    padding: 56px;
  }
}

@media screen and (min-width: 1140px) {
  .join-mailing-list {
    max-width: 552px;
    position: absolute;
    bottom: 0;
    right: 88px;
    padding: 100px 72px 18px;
  }

  .join-mailing-list h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1620px) {
  .join-mailing-list {
    right: calc(50% - 700px); /*To center the form*/
  }
}
