.related-post {
  padding: 56px 26px;
}

.related-post .cards-grid {
  max-width: 1420px;
}

@media screen and (min-width: 768px) {
  .related-post {
    padding: 56px;
    margin-top: 116px;
  }
}

@media screen and (min-width: 1200px) {
  .related-post {
    padding: 56px 88px 118px;
  }

  .related-post .section-heading {
    align-self: center;
  }
}

@media screen and (min-width: 1572px) {
  .related-post .section-heading {
    align-self: flex-start;
  }
}
