:root {
  /* Colours */
  --dark-gray: #4a455c;
  --light-gray: #7c7d98;
  --orange: #d64c31;
  --light-orange: #ffceb0;
  --beige: #fff0e7;
  --black: #000000;
  --white: #ffffff;

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;

  /* Font family */
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-cormorant-garamond: "Cormorant Garamond", sans-serif;
}

#root {
  min-width: 360px;
  width: 100%;
}
